
body {
    background-color: lightgray;
    overflow: scroll;
    
}

* {
   text-decoration: none; 
    padding: 0;
  
    margin: 0;
    border: 0;
    outline: 0;
}


.modal {
   
    
    position: fixed;
    z-index: 100px;
    top: calc(50% - 150px);
    left: calc(50% - 300px);
    width: 500px;
    background:#fff;
    box-shadow: 0 0 30px rgb(77 73 122 / 15%);
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}
*/


.calculator-modal .modal-content {

    width: 30%;
    float: left;
}
h6 {
        font-family: "SofiaPro", sans-serif;
    font-weight: 400;
    line-height: 1.154;
    color: rgba(62, 56, 82, 0.5);
    margin: 0 0 15px;
   
}

.calculator-modal .modal-title .line:first-child {
    top: 0;


}
.calculator-modal .modal-title .line:last-child {
    top: 30px;


}

.calculator-modal .modal-title .line {
       
    display: inline-block;

}
.calculator-modal .modal-content {
        width: 50%;
    float: left;

}

.calculator-modal .modal-title  {
        position: relative;
    height: 68px;
    margin-bottom: 20px;

}
.modal-title {
        font-size: 30px;
    text-transform: none;
    margin-bottom: 10px;
    letter-spacing: 0.96px;
    text-align: center;

}
.underline {
        position: relative;
    z-index: 0;
    display: inline-block;
    vertical-align: top;
    color: #3e3852;
}

.calculator-modal .modal-title .underline:after {
        left: -6px;

}


.calculator-modal .modal-title .line:last-child {
    top: 34px;

}
.red-button {
        color: #fff;
    background: #f03454;
    border-color: #f03454;

}

.default-button {
        border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    font-size: 18px;
    height: 46px;
    line-height: 46px;
    padding: 0 30px;
    transition: color 0.3s, 0.3s, border 0.3s;
    will-change: color, border;

}

.button {
        appearance: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    font-family: "SofiaPro", sans-serif;

}

.default-button:after {
    border-radius: 25px;

}

.button:after {
        content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
   
    box-shadow: 0 6px 20px 0 rgba(77, 73, 122, 0.15);
    opacity: 1;
    transition: opacity 0.3s;
    will-change: opacity;

}

.calculator-modal .calculator {
        width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

}
.calculator {
        position: relative;
    overflow: hidden;
    
}

.calculator-list {
        position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    box-sizing: border-box;
       
}

ul {
    list-style: none;
}

.calculator-item {
        position: relative;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
   padding-left: 80px;
  
   
    
    margin-bottom: 24px;
    color: rgba(62, 56, 82, 0.5);
    user-select: none;
   
    


}
.calculator-item:before {
        border: 1px solid rgba(62, 56, 82, 0.5);
    box-sizing: border-box;
    border-radius: 6px;
    
    

}
.calculator-item:before, .calculator-item:after {
        content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
     margin-left:34px;

}

.calculator-modal {
        top: auto;
    left: auto;
    bottom: 30px;
    right: 40px;
    width: 590px;
    text-align: left;

}

.calculator-item span:last-child:before {
    content: "$";
     

}
 .calculator-item span:last-child {
   text-align: right;

   
   
     

}



.calculator-item.checked:before {
    background: #f03454;
    border-color: #f03454;
    
  


}
.calculator-item.checked span:last-child {
    
   text-align: right;
   padding-left: 80px;
    
}







.calculator-item span:last-child {
        width: calc(35% - 36px);
    text-align: right;
   
    
    

}

.calculator-item span {
        display: inline-block;
    vertical-align: top;
   
    

}

.calculator-item.checked {
        color: #f03454;

}
.calculator-item.checked:before {
        background: #f03454;
    border-color: #f03454;

}

.calculator-item span:first-child {
        overflow: hidden;
    text-overflow: ellipsis;
    width: 65%;

}

.calculator-mask {
        position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 50%, white 100%);

}

.calculator-modal .modal-close {
        top: 16px;
    right: 12px;
    z-index: 2;

}

.calculator-item:before {
        border: 1px solid rgba(62, 56, 82, 0.5);
    box-sizing: border-box;
    border-radius: 6px;

}

.calculator-item:before, .calculator-item:after {

    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    margin-left: 30px;

}
.calculator-item.checked {
    color: #f03454;

}

.fa-check {
  position: absolute;
  text-align: center;
  font-weight: 200;
  margin-left: 31px;
  top: 3px;
  left: 1px;
  right: 1px;
  height: 10px;
  width: 20px;
  color: rgb(250, 245, 245);
  
}
    

.modal-close {
        display: block;
    position: absolute;
    right: 37.5px;
    top: 37.5px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;

}

.calculator-modal .modal-close .icon {
        display: block;
    position: relative;
    overflow: hidden;
    width: 12px;
    height: 12px;
    margin: 0 auto;

}



@media (max-width: 1024px) {
    h6 .underline {
        display: inline;
    }
}




